<div class="container">
  <div class="form">

    <form (submit)="inscription()" [formGroup]="formulaire">
      <md-input-container>
        <input type="text" name="nom" formGroupName="nom" placeholder="Nom" mdInput>
      </md-input-container>

      <md-input-container>
        <input type="text" name="prenom" formGroupName="prenom" placeholder="Prenom" mdInput>
      </md-input-container>

      <md-input-container>
        <input type="email" name="email" formGroupName="email" placeholder="Email" mdInput>
      </md-input-container>

      <md-input-container>
        <input type="text" name="password" formGroupName="password" placeholder="New password" mdInput>
      </md-input-container>

      <md-input-container>
        <input type="text" name="password2" formGroupName="password2" placeholder="Confirm password" mdInput>
      </md-input-container>

      <md-input-container>
        <input type="text" name="adresseFac" formGroupName="adresseFac" placeholder="Adresse de facturation" mdInput>
      </md-input-container>

      <md-input-container>
        <input type="text" name="adresseLiv" formGroupName="adresseLiv" placeholder="Adresse de livraison" mdInput>
      </md-input-container>

      <button md-raised-button class="md-primary" type="submit" >Enregistrer</button>

    </form>

    <a routerLink="/login" id="submit">retour login</a>
  </div>
</div>
