<div class="container">
  <div id="login">

    <form [formGroup]="form" (submit)="connexion()" target="self">
      <md-input-container>
        <input type="email" mdInput placeholder="Email" name="email" formControlName="email" class="inputs">
      </md-input-container>

      <md-input-container>
        <input type="password" mdInput placeholder="Password" name="password" formControlName="password" class="inputs">
      </md-input-container>

      <button md-raised-button class="md-primary" type="submit">Connexion</button>
    </form>

    <a routerLink="/inscription" id="inscription">Pas Inscrit?</a>
  </div>
</div>
